.loader {
  position: absolute; /* Абсолютное позиционирование */
  top: 50%; /* Центрировать по вертикали */
  left: 50%; /* Центрировать по горизонтали */
  transform: translate(-50%, -50%); /* Сдвинуть центр к середине элемента */
  z-index: 1000; /* Убедитесь, что загрузчик сверху */
  /* Другие стили, если необходимо */
}
