.react-flow__node {
  padding: 10px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 0.3s ease;
  color: blue;
}
