.navigation {
  display: flex;
}
.navigation li span {
  margin: 0 10px;
  color: gray;
}

@font-face {
  font-family: "baki";
  src: url(../../fonts/TypoGroteskDemo.otf);
}
.navigation a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "baki", sans-serif;
  font-size: 25px;
}
.navigation a.previous {
  color: #007bff;
}

.navigation a.current {
  color: #ff0000;
}
